#iconn {
  width: 90px;
  margin: left;
}
.weatherapp {
  border: 1px solid grey;
  padding: 15px;
  max-width: 600px;
  border-radius: 10px;
  margin: 20px auto;
}
h1 {
  color: grey;
  font-size: 20px;
  font-weight: 100;
  margin: 0;
  line-height: 28px;
  padding-top: 10px;
}
.temperature {
  font-size: 60px;
  font-weight: 400;
  color: black;
  line-height: 1;
}

a {
  text-decoration: none;
  font-size: 10px;
  padding-top: 0px;
}
li {
  color: darkgray;
}
.btn-primary {
  background-color: blue;
  color: azure;
  border-color: blue;
}
.active {
  color: black;
  cursor: default;
}

.active:hover {
  text-decoration: none;
}

h6 {
  text-align: center;
  padding-bottom: 0px;
  opacity: 0.5;
}
.weather-forecast {
  margin-top: 20px;
  margin-left: 10px;
  text-align: center;
}
#mintemp {
  opacity: 0.4;
}

span {
  font-size: 10px;
}
